<div *ngIf="isMetaMaskAvailable">
  <div class="row">
    <div class="col-md-6">
      <h5 class="text-info font-w-regular">wBoltt in circulation: {{wBolttCirculation}} </h5>
    </div>
    <div class="col-md-6">
      <h5 class="text-info font-w-regular">eBoltt in circulation: {{eBolttCirculation}} </h5>
    </div>
  </div>
  <div class="row">
    <toaster-container [toasterconfig]="config"></toaster-container>
    <div class="col-md-6">
      <nb-card>
        <nb-card-header>
          Ethereum to Waves
        </nb-card-header>
        <nb-card-body>
          <div class="centered">
            <div class="form-group">
              <label for="input-password" class="sr-only">Waves Address</label>
              <input name="wavesAdd" [(ngModel)]="wavesAdd" type="text" id="input-password" class="form-control form-control-lg first"
                placeholder="Waves Address">
            </div>
            <div class="form-group">
              <label for="input-password" class="sr-only">Waves Amount</label>
              <input name="wavesAmount" [(ngModel)]="wavesAmount" type="number" id="input-password" class="form-control form-control-lg first"
                placeholder="enter amount (ethereum to waves swap amount)">
            </div>
            <div class="form-group">
              <label for="input-password" class="sr-only">Waves Amount</label>
              <button class="btn btn-primary" (click)="moveToWaves()">MOVE TO WAVES</button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-6">
      <nb-card>
        <nb-card-header>
          Waves to Ethereum
        </nb-card-header>
        <nb-card-body>
          <div class="centered">
            <div class="centered">
              <div class="form-group">
                <label for="input-password" class="sr-only">Ethereum Address</label>
                <input name="ethAdd" [(ngModel)]="ethAdd" type="text" id="input-password" class="form-control form-control-lg first" placeholder="Ethereum Address">
              </div>
              <div class="form-group">
                <label for="input-password" class="sr-only">Ethereum Amount</label>
                <input name="ethAmount" [(ngModel)]="ethAmount" type="number" id="input-password" class="form-control form-control-lg first"
                  placeholder="enter amount (waves to ethereum swap amount)">
              </div>
            </div>
            <div class="form-group">
              <label for="input-password" class="sr-only">Waves Amount</label>
              <button class="btn btn-primary" (click)="moveToEthereum()">MOVE TO ETHEREUM</button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row text-center" *ngIf="isMetaMaskAvailable">
    <p>BOLTT Sports Technology: Total Ethereum supply - 1 Billion eBOLTT | Circulating supply - {{eBolttCirculation}} eBoltt
      , Total Waves supply - 1 Billion wBOLTT | circulating supply - {{wBolttCirculation}} wBOLTT</p>
  </div>
</div>
<div class="row text-center" *ngIf="!isMetaMaskAvailable">
  <div class="col-md-12 text-center">
    <h4>Please Install Metamask chrome extension and connect to ethereum network to interact with Boltt token on blockchain.</h4>
  </div>
  <div class="col-md-12 text-center">
    <div class="form-group text-center">
      <label for="input-password" class="sr-only">Waves Amount</label>
      <a class="btn btn-primary" target="_blank" href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en">Install Metamask</a>
    </div>
  </div>
</div>