<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <nb-auth-block>
            <h2 class="title">Sign Up</h2>
            <form (ngSubmit)="register()" #form="ngForm">

              <div class="form-group">
                <label for="input-first-name" class="sr-only">First Name</label>
                <input name="firstName" [(ngModel)]="user.firstName" id="input-first-name" #firstName="ngModel" class="form-control" placeholder="First name*"
                  required [class.form-control-danger]="firstName.invalid && firstName.touched">
              </div>
              <small class="m-b-10 form-text error" *ngIf="firstName.invalid && firstName.touched">
                First Name is invalid
              </small>

              <div class="form-group">
                <label for="input-last-name" class="sr-only">Last Name</label>
                <input name="lastName" [(ngModel)]="user.lastName" id="input-last-name" #lastName="ngModel" class="form-control" placeholder="Last name*"
                  required [class.form-control-danger]="lastName.invalid && lastName.touched">
              </div>
              <small class="m-b-10 form-text error" *ngIf="lastName.invalid && lastName.touched">
                Last Name is invalid
              </small>

              <div class="form-group">
                <label for="input-email" class="sr-only">Email address</label>
                <input name="email" [(ngModel)]="user.email" id="input-email" #email="ngModel" class="form-control" placeholder="Email address*"
                  pattern=".+@.+\..+" [class.form-control-danger]="email.invalid && email.touched" required>
              </div>

              <small class="m-b-10 form-text error" *ngIf="email.invalid && email.touched">
                Email is invalid
              </small>

              <div class="form-group">
                <label for="input-password" class="sr-only">Password</label>
                <input name="password" [(ngModel)]="user.password" type="password" id="input-password" class="form-control" placeholder="Password*"
                  #password="ngModel" [class.form-control-danger]="password.invalid && password.touched" required>
              </div>

              <small class="m-b-10 form-text error" *ngIf="password.invalid && password.touched">
                Password cannot be empty
              </small>

              <div class="form-group">
                <label for="input-re-password" class="sr-only">Repeat password</label>
                <input name="rePass" [(ngModel)]="user.confirmPassword" type="password" id="input-re-password" class="form-control" placeholder="Confirm Password*"
                  #rePass="ngModel" required [class.form-control-danger]="(rePass.invalid || password.value != rePass.value) && rePass.touched">
              </div>

              <small class="m-b-10 form-text error" *ngIf="(rePass.invalid || password.value != rePass.value) && rePass.touched">
                Passwords not matching
              </small>
              <div class="form-group">
                <label for="input-re-password" class="sr-only">Phone Number</label>
                <input name="phone" type="text" [(ngModel)]="user.phone" id="input-phone" class="form-control" placeholder="Phone*" #phone="ngModel"
                  required [class.form-control-danger]="(phone.invalid && phone.touched)">
              </div>
              <small class="m-b-10 form-text error" *ngIf="phone.invalid && phone.touched">
                Phone number is invalid
              </small>
              <div class="form-group">
                <label for="input-re-password" class="sr-only">Country</label>
                <select name="country" #country="ngModel" [(ngModel)]="user.country" class="form-control" placeholder="Country*">
                  <option *ngFor="let item of countries" [value]="item.name">{{item.name}}</option>
                </select>
              </div>
              <small class="m-b-10 form-text error" *ngIf="country.invalid && country.touched">
                Country name is invalid
              </small>
              <div class="form-group">
                <label for="input-re-password" class="sr-only">please enter your DOB (yyyy-mm-dd)</label>
                <div class="input-group">
                  <input class="form-control" type="date" name="dob" #dob="ngModel" [(ngModel)]="user.dob" placeholder="dd/mm/yyyy" required>
                </div>
              </div>
              <small class="m-b-10 form-text error" *ngIf="dob.invalid && dob.touched">
                Date of birth is invalid
              </small>

              <div class="form-group col-sm-12">
                <nb-checkbox name="terms" [(ngModel)]="user.notUSnChinese">
                  Confirm that you are not a Chinese citizen.
                  <a href="#" target="_blank">
                    <strong>Terms & Conditions</strong>
                  </a>
                </nb-checkbox>
              </div>
              <div class="form-group col-sm-12">
                <nb-checkbox name="terms" [(ngModel)]="user.readBolltIcoPolicy">
                  Confirm that you have read and understood BolttCoin ICO Whitepaper policy.
                </nb-checkbox>
              </div>
              <small class="m-b-10 form-text error" *ngIf="registerFailure">
                Registration failed. Please try again.
              </small>

              <div class="form-group col-sm-12">
                Already a user ?
                <a href="#">
                  <strong> Login </strong>
                </a>
              </div>
              <div class="form-group">
                <label for="input-password" class="sr-only">Password</label>
                <re-captcha (resolved)="resolved($event)" siteKey="6LdnO1QUAAAAAPitYPav5M19FI2B1WpGABAJrxca"></re-captcha>
              </div>
              <button [disabled]="submitted || !form.valid || !user.ownRisk || !user.notUSnChinese || !user.readBolltIcoPolicy" class="btn btn-block btn-hero-success"
                [class.btn-pulse]="submitted">
                Register
              </button>
            </form>
            <!-- <span class="created-by"></span>
            <div class="socials">
              <a href="#" target="_blank" class="ion ion-social-github"></a>
              <a href="#" target="_blank" class="ion ion-social-facebook"></a>
              <a href="#" target="_blank" class="ion ion-social-twitter"></a>
              <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
            </div> -->
          </nb-auth-block>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>