<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <nb-auth-block>
            <h2 class="title">Forgot Password</h2>
            <small class="form-text sub-title">Enter your email adress to send OTP</small>
            <form #requestPassForm="ngForm">

              <div class="form-group">
                <label for="input-email" class="sr-only">Enter your email address</label>
                <input name="email" [(ngModel)]="user.email" id="input-email" #email="ngModel"
                      class="form-control" placeholder="Email address" pattern=".+@.+\..+"
                      [class.form-control-danger]="email.invalid && email.touched"
                      required>
                <small class="form-text error m-b-10" *ngIf="email.invalid && email.touched">
                  Email is invalid.
                </small>
                <small class="m-t-10 m-b-10 form-text success" *ngIf="requestSuccess">
                    OTP has been sent to your email id.
                </small>
                <small class="m-t-10 m-b-10 form-text error" *ngIf="!registeredEmail">
                    Given email is not registered with us.
                </small>
              </div>

              <div *ngIf="requestSuccess">
                <div class="form-group">
                  <label for="input-password" class="sr-only">New Password</label>
                  <input name="newPassword" [(ngModel)]="user.newPassword" type="password" id="input-password" class="form-control" placeholder="New Password"
                    #newPassword="ngModel" [class.form-control-danger]="newPassword.invalid && newPassword.touched" required>
                </div>
                <small class="m-t-10 m-b-10 form-text error" *ngIf="newPassword.invalid && newPassword.touched">
                  New Password is required
                </small>
              </div>

              <div *ngIf="requestSuccess">
                <div class="form-group">
                  <label for="input-confirm-password" class="sr-only">Re enter password</label>
                  <input name="confirmPassword" [(ngModel)]="user.confirmPassword" type="password" id="input-confirm-password" class="form-control" placeholder="Confirm Password"
                    #confirmPassword="ngModel" [class.form-control-danger]="confirmPassword.invalid && confirmPassword.touched || user.confirmPassword != user.newPassword" required>
                </div>
                <small class="m-t-10 m-b-10 form-text error" *ngIf="confirmPassword.invalid && confirmPassword.touched || user.confirmPassword != user.newPassword">
                  Confirm password and new passwords are not matching
                </small>
              </div>

              <div *ngIf="requestSuccess">
                <div class="form-group">
                  <label for="input-otp" class="sr-only">OTP</label>
                  <input name="OTP" [(ngModel)]="user.otp" type="text" id="input-otp" class="form-control" placeholder="OTP"
                    #OTP="ngModel" [class.form-control-danger]="OTP.invalid && OTP.touched" required>
                </div>
                <small class="m-t-10 m-b-10 form-text error" *ngIf="OTP.invalid && OTP.touched && !user.otp">
                  OTP is required
                </small>
              </div>

              <button [disabled]="submitted || !requestPassForm.form.valid || user.newPassword != user.confirmPassword" class="btn btn-hero-success btn-block"
                      [class.btn-pulse]="submitted" *ngIf="!requestSuccess" (click)="requestOTP()" > Request OTP
              </button>
              <button [disabled]="submitted || !requestPassForm.form.valid || user.newPassword != user.confirmPassword" class="btn btn-hero-success btn-block"
                      [class.btn-pulse]="submitted" *ngIf="requestSuccess" (click)="requestPass()"> Request Password
              </button>
            </form>

            <div class="links col-sm-12">
              <small class="form-text">
                Already have an account? <a routerLink="../auth"><strong>Sign In</strong></a>
              </small>
              <small class="form-text">
                <a routerLink="../register"><strong>Sign Up</strong></a>
              </small>
            </div>
          </nb-auth-block>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>