<h2> Wallet Information</h2>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <nb-card>
      <nb-card-body>
        <div style="text-align: center">
          <h2>Total Boltt Coin Balance.</h2>
          <br>
          <h1 class="text-info font-w-regular">2.0000001</h1>
          <h5>BLT</h5>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <nb-card>
      <nb-card-body>
        <div style="text-align: center">
          <h2>Your Wallet Address.</h2>
          <br>
          <br>
          <h5 class="text-info font-w-regular">3PHCJh4LVyKMT2G3vihwabNCHb9sruXDdLt
          </h5>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-6 col-md-6">
    <nb-card>
      <nb-card-body>
        <div style="text-align: center">
          <h2>Wallet Backup Phrase/Seed.</h2>
          <br>
          <h5 class="text-info font-w-regular">tent trim flag install orchard dog bone truck region agree among size flip urge fiction </h5>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <ngx-block-level-buttons></ngx-block-level-buttons>
  </div>
</div>