<div class="row">
  <div class="col-md-6" *ngFor="let order of orders">
    <nb-card>
      <nb-card-header>
        {{order.currency}}
      </nb-card-header>
      <nb-card-body>
        <div class="centered">
          <div class="font-row font-main">
            <div class="header">
              <div class="variants">
                <qr-code [value]="order.address" [size]="100"></qr-code>
              </div>
            </div>
          </div>
          <br>
          <div class="font-row font-main">
            <div class="header">
              <div class="variants">
                <span class="font-w-light">address: </span>
                <span class="font-w-bold bold">
                  {{order.address}}
                </span>
              </div>
            </div>
          </div>
          <div class="font-row font-main">
            <div class="header">
              <div class="variants">
                <span class="font-w-light">method: </span>
                <span class="font-w-bold bold">
                  {{order.currency}}
                </span>
              </div>
            </div>
          </div>
          <div class="font-row font-main">
            <div class="header">
              <div class="variants">
                <span class="font-w-light">Amount: </span>
                <span class="font-w-bold bold">
                  {{order.amount}}
                </span>
              </div>
            </div>
          </div>
          <div class="font-row font-main">
            <div class="header">
              <div class="variants">
                <span class="font-w-light">Fee: </span>
                <span class="font-w-bold bold">
                  {{order.fee}}
                </span>
              </div>
            </div>
          </div>
          <div class="font-row font-main">
            <div class="header">
              <div class="variants">
                <span class="font-w-light">Transaction Id / Order Id: </span>
                <span class="font-w-bold bold">
                  {{order.transaction_id}}
                </span>
              </div>
            </div>
          </div>
          <div class="font-row font-main">
            <div class="header">
              <div class="variants">
                <span class="font-w-light">Confirmed blocks: </span>
                <span class="font-w-bold bold">
                  {{order.confirms}}
                </span>
              </div>
            </div>
          </div>
          <div class="font-row font-main">
            <div class="header">
              <div class="variants">
                <span class="font-w-light">Status: </span>
                <span class="font-w-bold bold">
                  {{order.payment_status}}
                </span>
              </div>
            </div>
          </div>
          <div class="font-row font-main">
            <div class="header">
              <div class="variants">
                <span class="font-w-light">Bollt Coin Value: </span>
                <span class="font-w-bold bold">
                  {{order.boltt_coin_value}}
                </span>
              </div>
            </div>
          </div>
          <div class="font-row font-main">
            <div class="header">
              <div class="variants">
                <span class="font-w-light">Bollt Coin Transfer Status: </span>
                <span class="font-w-bold bold">
                  {{order.boltt_coin_transfer_status}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

</div>