<div class="modal-header">
  <span>{{ modalHeader }}</span>
  <span>{{name}}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="paymentType === 1">
  <div class="payment-qrcode">
    <qr-code [value]="address" [size]="150"></qr-code>
  </div>
  <br>
  <div class="centered">
    <div class="font-row font-main">
      <div class="header">
        <div class="variants">
          <span class="font-w-light">address: </span>
          <span class="font-w-bold bold">
            {{address}}
          </span>
        </div>
      </div>
    </div>
    <div class="font-row font-main">
      <div class="header">
        <div class="variants">
          <span class="font-w-light">method: </span>
          <span class="font-w-bold bold">
            {{method}}
          </span>
        </div>
      </div>
    </div>
    <div class="font-row font-main">
      <div class="header">
        <div class="variants">
          <span class="font-w-light">amount: </span>
          <span class="font-w-bold bold">
            <input type="number" placeholder="select an amount" [(ngModel)]="methodAmount" name="methodAmount" (ngModelChange)="computeBoltt($event)"> {{method}} = {{bolttAmount}} BOLTT
          </span>
        </div>
      </div>
    </div>
    <br>
    <nb-action class="control-item" style="font-size: 10px;">
      <div class="text-info">Please transfer {{method}} to the following {{method}} address for the amount you wish to purchase for. Tokens will
        be sent to your Boltt Wallet/Account automatically once the transfer is confirmed. You can also generate an invoice,
        a copy of which will be sent on your registered email address. </div>
    </nb-action>
    <br>
    <nb-action class="control-item" style="font-size: 10px;">
      <div class="text-info">Important: Please note that we update your Boltt Coin balance based on a notification confirming that the transaction
        has not been cancelled or reversed. Such a notification may require up to 6 confirmations. The exact exchange rate
        for any Altcoin to Boltt Coins will be considered at the time of notification confirmation.</div>
    </nb-action>
  </div>
</div>

<div class="modal-body" *ngIf="paymentType === 2">
  <br>
  <div class="centered">
    <div class="font-row font-main">
      <div class="header">
        <div class="variants">
          <span class="font-w-light">Bank Name: </span>
          <span class="font-w-bold bold">
            {{bankName}}
          </span>
        </div>
      </div>
    </div>
    <div class="font-row font-main">
      <div class="header">
        <div class="variants">
          <span class="font-w-light">Bank Address: </span>
          <span class="font-w-bold bold">
            {{address}}
          </span>
        </div>
      </div>
    </div>
    <div class="font-row font-main">
      <div class="header">
        <div class="variants">
          <span class="font-w-light">Beneficiary: </span>
          <span class="font-w-bold bold">
            {{baneficiary}}
          </span>
        </div>
      </div>
    </div>
    <div class="font-row font-main">
      <div class="header">
        <div class="variants">
          <span class="font-w-light">Swift: </span>
          <span class="font-w-bold bold">
            {{swift}}
          </span>
        </div>
      </div>
    </div>
    <div class="font-row font-main">
      <div class="header">
        <div class="variants">
          <span class="font-w-light">IBAN: </span>
          <span class="font-w-bold bold">
            {{iBan}}
          </span>
        </div>
      </div>
    </div>
    <div class="font-row font-main">
      <div class="header">
        <div class="variants">
          <span class="font-w-light">amount: </span>
          <span class="font-w-bold bold">
            <input type="number" placeholder="select an amount" [(ngModel)]="methodAmount" name="methodAmount" (ngModelChange)="computeBoltt($event)"> USD = {{bolttAmount}} BOLTT
          </span>
        </div>
      </div>
    </div>
    <br>
    <nb-action class="control-item" style="font-size: 10px;">
      <div class="text-info">Payment description: Transfer on personal account by contract. After the completion of the transfer please provide
        us with the confirmation code (SWIFT) by writing to us at ICO@Boltt.com. (You can take a screenshot of the transaction
        where SWIFT is visible) or by FAX. </div>
    </nb-action>
    <br>
    <nb-action class="control-item" style="font-size: 10px;">
      <div class="text-info">Once we receive the confirmation for our bank, we will transfer the Boltt Coins immediately within 24hours.
      </div>
    </nb-action>
    <br>
    <nb-action class="control-item" style="font-size: 10px;">
      <div class="text-info">Important: For option ‘Bank / PayPal / Credit Card’ system uses only USD as a main currency. Exchange to other currency
        will be made automatically by your bank when you pay in USD. The charge for this exchange depends only on your bank.
      </div>
    </nb-action>
  </div>
</div>
<div class="modal-body" *ngIf="paymentType === 3">
  <br>
  <div class="centered">
    <div class="font-row font-main">
      <div class="header">
        <div class="variants">
          <span id="paypal-button"></span>
        </div>
      </div>
    </div>
    <br>
    <div class="font-row font-main">
      <div class="header">
        <div class="variants">
          <span class="font-w-light">amount: </span>
          <span class="font-w-bold bold">
            <input type="number" placeholder="select an amount" [(ngModel)]="methodAmount" name="methodAmount" (ngModelChange)="computeBoltt($event)"> USD = {{bolttAmount}} BOLTT
          </span>
        </div>
      </div>
    </div>
    <br>
    <nb-action class="control-item" style="font-size: 10px;">
      <div class="text-info">Payment description: Transfer on personal account by contract. After the completion of the transfer please provide
        us with the confirmation code (SWIFT) by writing to us at ICO@Boltt.com. (You can take a screenshot of the transaction
        where SWIFT is visible) or by FAX. </div>
    </nb-action>
    <br>
    <nb-action class="control-item" style="font-size: 10px;">
      <div class="text-info">Once we receive the confirmation for our bank, we will transfer the Boltt Coins immediately within 24hours.
      </div>
    </nb-action>
    <br>
    <nb-action class="control-item" style="font-size: 10px;">
      <div class="text-info">Important: For option ‘Bank / PayPal / Credit Card’ system uses only USD as a main currency. Exchange to other currency
        will be made automatically by your bank when you pay in USD. The charge for this exchange depends only on your bank.
      </div>
    </nb-action>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="placeOrder()">Raise Order</button>
  <button class="btn btn-md btn-primary" (click)="closeModal()">Cancel</button>
</div>