<div class="modal-header">
  <nb-card-header>
    Disclaimer
  </nb-card-header>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="status">
    <p>
      You are now a registered user with Boltt. Your email/username & password will remain the same for any application within
      the Boltt Ecosystem. You can download the Boltt Apps (BolttCoin/ Boltt Health) from the play store/App store. please
      sign in using the same email i’d and password, since your Boltt Crypto Wallet is associated with your registered email
      address. The signup process involves the creation of a new account i.e Boltt Wallet Address on the Waves Blockchain.</p>
    <p>
      The procedure consists of complex cryptographic operations that use a SEED (a series of random words) to create a unique
      address for your account. The seed is extremely important and must be kept in safe place at all times, since its the
      only way to recover your account in case of lost, corrupted data or hardware failure. Your seed will also allow you
      to import your account to other devices & help you login on the web client, i.e Boltt Crypto Wallet on the browser.
    </p>
    <p>
      Therefore,allow no one to reach it! You can find your wallet details like (Seed, Address & token balance) by clicking on
      the tab “Boltt Crypto Wallet”. You can also access the complete Boltt Wallet & enjoy trading on the DEX by clicking
      on “Go to Wallet” option in the Boltt Crypto wallet section. You will need to enter your Wallet Address & Seed and
      set a new password to access all features.</p>
    <p>
      Boltt is using a new “Dual Blockchain Technology” called “Boltt Dual Swap”. Boltt would be one of the first few tokens to
      use this dual technology. It comprises a web-based interface, wallets, and smart contracts on Ethereum. BolttCoins
      are interchangeable dynamically from one blockchain to another as required by the user.
    </p>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="closeModal()">Cancel</button>
</div>