<nb-auth-block>
  <h2 class="title">Change password</h2>
  <small class="form-text sub-title">Please enter a new password</small>
  <form (ngSubmit)="resetPass()" #resetPassForm="ngForm" class="change-password">

    <div class="form-group">
      <label for="input-password" class="sr-only">New Password</label>
      <input name="password" [(ngModel)]="user.password" type="password" id="input-password" class="form-control form-control-lg first"
        placeholder="New Password" #password="ngModel" [class.form-control-danger]="password.invalid && password.touched" required>
      <small class="form-text error" *ngIf="password.invalid && password.touched">
        Password is required!
      </small>
    </div>

    <div class="form-group">
      <label for="input-re-password" class="sr-only">Confirm Password</label>
      <input name="rePass" [(ngModel)]="user.new_password" type="password" id="input-re-password" class="form-control form-control-lg last"
        placeholder="Confirm Password" #rePass="ngModel" [class.form-control-danger]="(rePass.invalid || password.value != rePass.value) && rePass.touched">
      <small class="form-text error" *ngIf="rePass.touched && password.value != rePass.value && !rePass.errors?.required" required>
        Password does not match the confirm password.
      </small>
      <small class="form-text p-t-20" *ngIf="message">
        {{message}}
      </small>
      <small class="form-text error p-t-20" *ngIf="error">
        {{error}}
      </small>
    </div>
    <button [disabled]="submitted || !resetPassForm.form.valid || !user.new_password" class="btn btn-hero-success btn-block" [class.btn-pulse]="submitted">
      Change password
    </button>
  </form>

</nb-auth-block>