@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';

@include nb-install-component() {
  nb-card {
    flex-direction: row;
    align-items: center;
    height: 5rem;
    overflow: visible;

    $bevel: btn-hero-bevel(nb-theme(card-bg));
    $shadow: nb-theme(btn-hero-shadow);
    box-shadow: $bevel, $shadow;

    .icon-container {
      height: 100%;
      padding: 0.625rem;
    }

    .xl-btn {
      width: 100px;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5.75rem;
      height: 3.75rem;
      font-size: 3.75rem;
      border-radius: nb-theme(card-border-radius);
      transition: width 0.4s ease;
      transform: translate3d(0, 0, 0);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      color: nb-theme(color-white);

      &.btc {
        @include btn-hero-warning-gradient();
        @include btn-hero-warning-bevel-glow-shadow();
      }
      &.bch {
        background-image: linear-gradient(to right, #f46b45, #eea849);
      }
      &.ltc {
        background-image: linear-gradient(to right, #8e9eab, #a1a1a1);
      }
      &.dash {
        background-image: linear-gradient(to right, #0575e6, #021b79);
      }
      &.eth {
        background-image: linear-gradient(to right, #1488cc, #2b32b2);
      }
      &.etc {
        background-image: linear-gradient(to right, #73c8a9, #373b44);
      }
      &.xmr {
        background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
      }
      &.zec {
        background-image: linear-gradient(to right, #ffb347, #ffcc33);
      }
      &.neo {
        background-image: linear-gradient(to right, #dce35b, #45b649);
      }
      &.xrp {
        background-image: linear-gradient(to right, #0575e6, #021b79);
      }
      &.doge {
        background-image: linear-gradient(to right, #f46b45, #eea849);
      }
      &.waves {
        background-image: linear-gradient(to right, #1488cc, #2b32b2);
      }
      &.strat {
        background-image: linear-gradient(to right, #4776e6, #8e54e9);
      }
      &.dodge {
        @include btn-hero-warning-gradient();
        @include btn-hero-warning-bevel-glow-shadow();
      }
    }

    &.off {
      color: nb-theme(card-fg);

      .icon {
        color: nb-theme(card-fg);

        &.primary, &.success, &.info, &.warning {
          box-shadow: none;
          background-image: linear-gradient(to right, transparent, transparent);
        }
      }

      .title {
        color: nb-theme(card-fg);
      }
    }

    .details {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 0 0.5rem 0 0.75rem;
      border-left: 1px solid transparent;
    }

    .title {
      font-family: nb-theme(font-secondary);
      font-size: 1.25rem;
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(card-fg-heading);
    }

    .status {
      font-size: 1rem;
      font-weight: nb-theme(font-weight-light);
      text-transform: uppercase;
      color: nb-theme(card-fg);
    }
  }

  @include nb-for-theme(cosmic) {
    nb-card {
      &.off .icon-container {
        border-right: 1px solid nb-theme(separator);
      }

      .icon-container {
        padding: 0;
      }

      .details {
        padding-left: 1.25rem;
      }

      .icon {
        width: 7rem;
        height: 100%;
        font-size: 4.5rem;
        border-radius: nb-theme(card-border-radius) 0 0 nb-theme(card-border-radius);
      }

      .title {
        font-weight: nb-theme(font-weight-bolder);
      }

      .status {
        font-weight: nb-theme(font-weight-light);
      }
    }
  }
}
.crypto-address{
  font-size: 15px;
}
.btn.btn-hero-info.btn-demo {
  cursor: pointer;
}
.move-right{
  margin: 1px 250%;
}