<h2> Analytics</h2>
<div class="row">
  <div class="col-lg-6 col-md-6">
    <nb-card>
      <nb-card-header>
        <h4>Tokens stats</h4>
        <span>Token availability info</span>
      </nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar [data]="data"></ngx-chartjs-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-6 col-md-6">
    <nb-card>
      <nb-card-header>
        <h4>Tokens stats</h4>
        <span class="text-info">Token availability info</span>
      </nb-card-header>
      <nb-card-body>
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-6 col-md-6">
    <nb-card>
      <nb-card-header>
        <h4>Orders Stats</h4>
        <span class="text-info">Orders statistics</span>
      </nb-card-header>
      <nb-card-body>
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        <h4>Total Invested</h4>
        <span class="text-info">Total particpated in different currencies</span>
      </nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar></ngx-chartjs-bar>
      </nb-card-body>
    </nb-card>
  </div>

</div>