<h2> Analytics</h2>
<div class="row">
  <div class="col-lg-6 col-md-6">
    <nb-card>
      <nb-card-header>TDE</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar [data]="data"></ngx-chartjs-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-6 col-md-6">
    <nb-card>
      <nb-card-header>Token sold</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-6 col-md-6">
    <nb-card>
      <nb-card-header>Order Stat</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Invested</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar></ngx-chartjs-bar>
      </nb-card-body>
    </nb-card>
  </div>

</div>