<div class="row">
  <div class="col-md-12">
    <h2 class="text-info font-w-regular text-center">Deep Referral Program</h2>
    <div class="header text-center">
      <div>
        Your referral link -
        <h2>https://bitrewards.network/?r=309198</h2>
        <div class="alert alert-success" role="alert">
          <strong>Each referral invited by you will receive an extra +10% bonus!</strong>
        </div>
        <div class="alert alert-hint" role="alert">
          Send this link to your friends and any crypto enthusiasts you may know.By sharing your referral link, you accept the following
          conditions of
          <a href="#" class="alert-link"> Boltt rewards Referral Program.</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <nb-card>
    <nb-card-header>
      Your Earned Boltt - 0
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <h5>
            Level-1
          </h5>
        </div>
        <div class="col-lg-3 col-md-3">
          <h5>
            Token Bought
          </h5>
        </div>
        <div class="col-lg-3 col-md-3">
          <h5>
            Your Interest
          </h5>
        </div>
        <div class="col-lg-3 col-md-3">
          <h5>
            You earned
          </h5>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
<div class="row text-center">
  <div class="col-lg-12 col-md-12 text-center">
    <h2>
      HOW TO GET REFERRALS
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-9 col-md-9 offset-lg-3 offset-md-3 ">
    <ol class="mb-5">
      <li>Tell people that your referral link will give them an extra +10% bonus!</li>
      <li>Reach your friends with a referral link via messengers, SMS, e-mail, etc.</li>
      <li> Post the referral link in your Facebook, Twitter, other social media.</li>
      <li>Write an article or a blog post about BitRewards with your referral link.</li>
      <li>Make a video about the project, publish it on Youtube with your referral link.</li>
      <li>Mention us on specific cryptocurrency resources and social media groups.</li>
    </ol>
  </div>
</div>
<div class="row text-center">
  <div class="col-lg-12 col-md-12 text-center">
    <h2>
      RULES:
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-9 col-md-9 offset-lg-3 offset-md-3 ">
    <ul class="mb-5">
      <li>NO spam,</li>
      <li>NO any type of SEM (Search Engine Marketing) using “BitRewards” keyword,</li>
      <li>NO any attempts to mislead people with your referral link description,</li>
      <li>NO marketing on any Airdrop or Bounty or ICO list sites / groups,</li>
      <li>NO referral links without information about the project,</li>
      <li>NO hiding your referral links in shortened URLs,</li>
      <li>NO referral links in comment section of our original content,</li>
      <li>NO referring yourself with your own referral link.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 text-center">
    <div class="alert alert-warning text-center" role="alert">
      <strong>Any attempts to cheat the system will result in immediate account ban and loss of earned referral tokens.</strong>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="col-lg-12 col-md-12 text-center">
    <h2>
      Terms and conditions
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-md-10 offset-lg-2 offset-md-2 ">
    <ol class="mb-5">
      <li>Referrer is a person who invites token buyers (referrals).</li>
      <li>Referral is a token buyer, whom the referrer invited.</li>
      <li> 5-level referral system rewards referrers and referrals with bonuses in the form of BIT tokens.</li>
      <li>The token buyer himself always receives an additional 10% bonus, which is added to the current general 15% bonus and
        other promotions.</li>
      <li>The amount of remuneration received by one referrer is limited to $100,000 equivalent.</li>
      <li>Only payments made from April 20, 2018 to May 09, 2018 are counted in the Deep Referral Program v2.0.</li>
    </ol>
  </div>
</div>